/* RESETS */

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* VARIABLES */

:root {
  --clr-neutral-100: #000;
  --clr-neutral-900: #fff;

  --clr-task-body: #1A5B7A;
  --clr-task-checkbox: #ABE2FF;
  --clr-task-checkbox-border: #7BB2D5;
  --clr-task-txt: #F1F1E6;
  --clr-task-client: #F9F871;
  --clr-task-matter: #7BB2D5;
  --clr-task-location: #7BB2D5;

  --clr-tasks-scrollbar: #0004;

  --clr-bg: #F9F871;

  --ff-task-heading: monospace;
  --ff-task-description: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  --ff-task-client: monospace;
  --ff-task-location: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

/* PRESETS */

body {
  background-color: var(--clr-bg);
  color: var(--clr-neutral-100);
  width: 100vw;
  min-height: 100vh;
}

/* UTILITY CLASSES */

.flex--column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap, 0em);
}

.flex--row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap, 0em);
}

/* MAIN */

.main {
  width: 100vw;
  height: 100vh;
}

/* task container */

.tasks {
  --gap: 2em;
  --task-width: 30em;
  --task-height: 10em;
  align-items: center;
  width: 40%;
  height: 100%;
  padding: 2em;
  overflow-y: scroll;
  user-select: none;
  z-index: 3;
}

.tasks ._heading {
  font-size: 2.5em;
  font-family: var(--ff-task-heading);
  text-transform: uppercase;
}

.tasks ._heading__details {
  font-size: 0.5em;
  color: #444;
}

/* task */

.task {
  --shadow-offset: 1em;
  --border-radius: .5em;
  position: relative;
  width: min(100%, 30em);
  height: var(--task-height);
  padding-right: var(--shadow-offset);
  padding-bottom: var(--shadow-offset);
}

.task__body {
  --padding: 1.5em;
  position: relative;
  padding: var(--padding);
  width: 100%;
  height: var(--task-height);
  background-color: var(--clr-task-body);
  border-radius: var(--border-radius);
  color: var(--clr-task-txt);
  transition-duration: 100ms;
  z-index: 10;
}

.task__body:hover {
  box-shadow: 0 0 var(--clr-neutral-100);
  transform: 
    translateX(var(--shadow-offset)) 
    translateY(var(--shadow-offset));
  cursor: pointer;
}

.task__shadow {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--clr-neutral-100);
  width: calc(100% - var(--shadow-offset));
  height: 100%;
  border-radius: var(--border-radius);
  transform: 
    translateX(var(--shadow-offset)) 
    translateY(var(--shadow-offset));
  z-index: 5;
}

.task__client {
  font-size: 1.2em;
  margin-bottom: .8em;
  color: var(--clr-task-client);
  font-family: var(--ff-task-client);
  font-weight: normal;
  text-transform: uppercase;
}

.task__matter {
  font-size: 0.75em;
  color: var(--clr-task-matter);
  text-transform: uppercase;
}

.task__description {
  font-size: 1.5em;
  font-family: var(--ff-task-description);
}

.task__checkbox {
  --border-width: .2em;
  --width: 2em;
  --fill-width: calc( var(--width) - (var(--border-width) * 4) );
  position: absolute;
  right: var(--padding);
  top: var(--padding);
  width: var(--width);
  height: var(--width);
  border: var(--border-width) dashed var(--clr-task-checkbox-border);
}

.task__checkbox::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: var(--fill-width);
  height: var(--fill-width);
  background-color: var(--clr-task-checkbox);
}

.task__location {
  position: absolute;
  bottom: var(--padding);
  left: var(--padding);
  font-size: .75em;
  font-family: var(--ff-task-location);
  text-transform: lowercase;
  color: var(--clr-task-location);
}

.task__location__text {
  margin-left: .25em;
}

/* tasks container scrollbar */

.tasks::-webkit-scrollbar {
  width: .75em;
}

.tasks::-webkit-scrollbar-thumb {
  background-color: var(--clr-tasks-scrollbar);
  border-radius: .5em;
}

/* controls */

.controls {
  background-color: var(--clr-neutral-900);
  color: #1B3D2F;
  height: 100%;
  align-self: center;
  flex: 1;
}

/* RESPONSIVE */